{
  "root": true,
  "extends": ["oclif", "oclif-typescript", "plugin:prettier/recommended"],
  "rules": {
    "no-await-in-loop": "off",
    "node/no-missing-import": 1,
    "quotes": ["error", "double"],
    "unicorn/no-for-loop": "off",
    "unicorn/filename-case": "off"
  }
}
